<h3>Board</h3>

<div class="board-grid">
    @for (int row = 0; row < 8; row++)
    {
        for (int column = 0; column < 8; column++)
        {
            <div class="piece @GetPieceClass(row, column)"></div>
        }
    }
</div>
