<div class="board-grid">
    @for (int row = 0; row < 8; row++)
    {
        for (int column = 0; column < 8; column++)
        {
            var piece = GetPiece(row, column);
            var title = GetTileTitle(piece);
            var cssClass = GetPieceClass(piece);

            <div title="@title" class="piece @cssClass">
            </div>
        }
    }
</div>
