<div class="board-grid">
    @for (int row = 0; row < 8; row++)
    {
        for (int column = 0; column < 8; column++)
        {
            var _row = row;
            var _column = column;

            var piece = GetPiece(_row, _column);
            var title = GetTileTitle(piece);
            var cssClass = GetPieceClass(piece);

            <div title="@title"
                 class="piece @cssClass"
                 onclick="@(() => OnTileClick(_row, _column))">
            </div>
        }
    }
</div>
